<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/style/style.css}" rel="stylesheet">
    <title>Users</title>
</head>

<body>
    <h2>List of users:</h2>
    <div id="central_block">
        <table>
            <tr>
                <th>id</th>
                <th>Имя</th>
                <th>Фамилия</th>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
            </tr>
        </table>
        <div>
            <p><b>Выберите действие:</b></p>
            <input name="act" type="radio" value="add" checked onChange="funcSelect(this)"> Добавить |
            <input name="act" type="radio" value="update" onChange="funcSelect(this)"> Изменить |
            <input name="act" type="radio" value="remove" onChange="funcSelect(this)"> Удалить
        </div>

        <div id="block_add">
            <h3>Добавление пользователя:</h3>
            <form method="post" th:action="@{/users/add}" th:object="${user}">
                <p class="p1">Имя: <input type="text" name="firstName"></p>
                <p class="p1">Фамилия: <input type="text" name="lastName"></p>
                <input type="submit" value="Add user">
            </form>
        </div>

        <div id="block_update">
            <h3>Изменение пользователя:</h3>
            <form method="post" th:action="@{/users/update}" th:object="${user}">
                <p>Введите id изменяемого пользователя:</p>
                <p class="p1"><input type="text" name="id"></p>
                <p class="p1">Новое имя: <input type="text" name="firstName"></p>
                <p class="p1">Новя фамилия: <input type="text" name="lastName"></p>
                <input type="submit" value="Update user">
            </form>
        </div>

        <div id="block_remove">
            <h3>Удаление пользователя:</h3>
            <form method="post" th:action="@{/users/remove}" th:object="${id}">
                <p>Введите индекс пользователя:</p>
                <p class="p1">Индекс: <input type="text" name="id"></p>
                <input type="submit" value="Remove user">
            </form>
        </div>
    </div>
</body>

<script th:src="@{scripts/select.js}"></script>

</html>